@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

.mealWrapper {
  padding: 10px;
  margin: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.mealsTitle {
  font-family: "Roboto", sans-serif;
  font-size: 2.5rem;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.mealList {
  font-family: "Roboto", sans-serif;
  list-style: none;
  padding: 0;
  margin: 0;
}

.loadingText {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  padding: 10px;
  color: #333;
}

.mealList {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns by default */
  gap: 20px;
}

@media (max-width: 600px) {
  .mealList {
    grid-template-columns: 1fr; /* Switch to one column for smaller screens */
  }
}
