@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

.mealWrapper {
  padding: 10px;
  margin: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.mealsTitle {
  font-family: "Roboto", sans-serif;
  font-size: 2.5rem;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.mealList {
  font-family: "Roboto", sans-serif;
  list-style: none;
  padding: 0;
  margin: 0;
}

.mealListItem {
  cursor: pointer;
  font-size: 1.5rem;
  padding: 10px 15px;
  margin: 5px 0;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.mealListItem:hover {
  background-color: #f7debe;
  transform: scale(1.01);
}

.loadingText {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  padding: 10px;
  color: #333;
}
